<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Secrets</title>
</head>
<body>
    <h1>Hello, {{request.session.name}}</h1>
    <form action="/secrets/post" method="post">
        {% csrf_token %}
        <textarea name="secret_content" placeholder="Your secret here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <form action="/" method="post">
    {% csrf_token %}
        <input type="submit" value="Click here to log out!">
    </form>
    <h2>Recent Secrets</h2>
    {%for secret in secrets%}
        <p>{{secret.content}} {{secret.user}} {{ secret.date_added|timesince }} Likes: {{secret.likes.count}}</p>
        {% if secret.user.id == request.session.id %}
            <h2>you posted this</h2>
            <a href="/secrets/delete/{{secret.id}}">Delete</a>
        {% else %}
            <a href="/secrets/like/{{secret.id}}">Like</a>
        {% endif %}
    {% endfor %}
</body>
</html>