<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Reg | Home</title>
</head>
<body>
    <h3>Registration</h3>
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/register" method="post">
    {% csrf_token %}
        First Name: <input type="text" name="first" id="first">
        Last Name: <input type="text" name="last" id="last">
        Email: <input type="text" name="email" id="email">
        Password: <input type="text" name="pass" id="pass">
        Confirm pw: <input type="text" name="confirm" id="confirm">
        <input type="submit" value="Register!">
    </form>
    <h3>Login</h3>
    <form action="/login" method="post">
    {% csrf_token %}
        Email: <input type="text" name="login_email" id="login_email">
        Password: <input type="text" name="login_pass" id="login_pass">
        <input type="submit" value="Login!">
    </form>
    
</body>
</html>